name: Cypress Automation Tests

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-tests-and-deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Run Cypress tests
        run: npm run cypress:run

      - name: Merge Mochawesome reports
        if: always()
        run: npm run cypress:merge

      - name: Generate Mochawesome HTML report
        if: always()
        run: npm run cypress:html

      - name: Upload Mochawesome report artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report
          path: cypress/reports/html

      - name: Deploy Mochawesome report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: cypress/reports/html
          keep_files: false
          destination_dir: ''

      - name: Mochawesome report link
        run: |
          echo "Mochawesome report: https://raithdw.github.io/droneweb-cypress/report.html" >> $GITHUB_STEP_SUMMARY